src/main/mule/x/x-eventhub-inject.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="x-eventhub-inject" doc:id="inject-flow-0001">
		<http:listener doc:name="POST /events" doc:id="inject-listener-0001" config-ref="HTTP_Listener_config" path="/events" allowedMethods="POST">
			<http:response statusCode="202">
				<http:body><![CDATA[#[output application/json
---
{ status: "ACCEPTED", queue: p('ac.loy.eventhub.vm.inbound.queue') }]]]></http:body>
			</http:response>
		</http:listener>
		<ee:transform doc:name="Ensure JSON payload" doc:id="inject-transform-0001">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish queueName="${ac.loy.eventhub.vm.inbound.queue}" doc:name="Publish to inbound queue" doc:id="inject-publish-0001" config-ref="VM_Config" />
		<logger level="INFO" doc:name="Log injected event" doc:id="inject-logger-0001" message="#['Injected event of type ' ++ (payload.eventType default 'UNKNOWN') ++ ' onto ' ++ p('ac.loy.eventhub.vm.inbound.queue')]" />
	</flow>

</mule>
